.imageElement--home__section-two__image{
    margin-left: 1%;
    height: 97%;
    
}

.imageElement--home__gallery_section-four--image7,
.imageElement--home__gallery_section-four--image8{
    width: 96%;
}

.imageElement--home__section-offergallery--image1,
.imageElement--home__section-offergallery--image2,
.imageElement--home__section-offergallery--image3,
.imageElement--home__section-offergallery--image4,
.imageElement--home__section-offergallery--image5{
    width: 100%;

}
