.imageElement--home__section-two__image{
    margin-left: 1%;
    height: 97%;
    
}

.imageElement--home__gallery_section-four--image7,
.imageElement--home__gallery_section-four--image8{
    width: 90%;
}
