.paragraph--section__one--title{
    color: white;
}

.heading--title-products-on-sale{
    font-family: "Cabin";
    color: #8DC63F;
}

/* ____________________________section 3 desktop products___________ */


