.flexRow--home__section--one {
  padding: 10px 0;
}

.flexRowContent--home_section_3_products-sale {
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* ___________________ section four home desktop ____________________ */

.flexRow--home_section-four-column-1 {
  padding: 10px 0px;
}
.flexRowContent--home_section-four-column-1 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: max-content;
  gap: 20px;
  margin: 0px auto;
}
.flexColChild--image-1-section-gallery-colum1,
.flexColChild--image-2-section-gallery-colum1,
.flexColChild--image-3-section-gallery-colum1 {
  width: max-content;
}

/*____________________________ syles Mobile_____________________*/

.flexColChild--section--image {
  padding: 10px;
}

.flexRow--home__section-one-mobile {
  padding: 10px 0;
}
