/* .flexRowContent--home__section--one{
    background-color: rgb(60, 118, 99);
} */

/* .flexColChild--section__one--image {
    max-width: 600 px;
} */

/* .flexRowContent--home__section--one{
    display: flex !important;
    justify-content: center !important;
} */
.flexRow--home__section--one{
    padding: 10px 0;
}

.flexRowContent--home_section_3_products-sale{
    justify-content: center;
   align-items: center;
    text-align: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px auto;
    padding: 12px; */
}


/*____________________________ syles Mobile*/

.flexColChild--section--image{
    padding: 10px;
    
}

.flexRow--home__section-one-mobile{
    padding: 10px 0;
}
