.flexCol--filter-search-product-plp{
    width: 300px;
    box-shadow: 4px 4px 6px rgb(0 0 0 / 16%);
    z-index: 1 !important;
}

.flexCol--container-result-searc-plp{
    width: 1000px;
    background-color: #f4f4f4;
    
}

.flexCol--container-modal-icon-add-to-list{
    align-items: flex-end;
    justify-content: center;
}
.flexCol--container-result-searc-plp :global(.vtex-product-summary-2-x-element){
    

    height: 550px;
    justify-content: space-between;
    background-color: white;
}

.flexCol--container-result-searc-plp :global(.vtex-product-summary-2-x-container){
    background: #fff 0 0 no-repeat padding-box;
    /* border: 1px solid #e5e5e5;
    border-radius: 8px!important; */
    
}

.flexCol--container-result-searc-plp :global(.vtex-search-result-3-x-galleryItem--normal){
    background: #fff 0 0 no-repeat padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 8px!important;
    
}


.flexCol--container-result-searc-plp :global(.vtex-search-result-3-x-gallery--grid){
    gap: 15px;
}

.flexCol--container-result-searc-plp :global(.vtex-product-summary-2-x-imageContainer){

    border-bottom: 1px solid #e5e5e5;
    
}

.flexCol--container-result-searc-plp :global(.vtex-product-summary-2-x-brandName){
    text-transform: uppercase;
    color: #a5a5a5;
}

.flexCol--container-result-searc-plp :global(.vtex-product-summary-2-x-nameContainer){
    text-align: left !important;
    justify-content: flex-start;
    padding: 0px;
}

.flexCol--container-result-searc-plp :global(.vtex-product-price-1-x-sellingPrice),
.flexCol--container-result-searc-plp :global(.vtex-product-price-1-x-listPrice),
.flexCol--container-result-searc-plp :global(.vtex-product-price-1-x-savings)
{
    text-align: left;
    padding: 0px;
}



.flexCol--container-result-searc-plp :global(.vtex-add-to-cart-button-0-x-buttonDataContainer)::after{
    content: url(assets/img/image-icon-add-to-cart.png);
}

.flexCol--container-result-searc-plp :global(.vtex-add-to-cart-button-0-x-buttonText){
    text-transform: capitalize;
    margin-right: 10px;
    font-size: 18px
}

.flexCol--container-modal-icon-add-to-list{
    border-bottom: 1px solid #e5e5e5;
}

.flexColChild--container-modal-icon-add-to-list{
    


    border: 1px solid #b6b6b6;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    padding-top: 5px;

}

.flexCol--container-result-searc-plp :global(.vtex-search-result-3-x-orderByButton){
    border-radius: 20px;
    margin-top: 5px;
}