/*____________________________ syles Mobile_____________________*/

.flexColChild--section--image {
    padding-bottom: 5px;
  }
  
  .flexRow--home__section-one-mobile {
    padding: 10px 0;
  }

  .flexCol--section--image-mobile{
    margin: 0px auto;
    padding: 10px 0px
  }