.headingLevel5--title-products-on-sale-mobile{
    color: #8dc63f;
}

.headingLevel5--title-greenMarket,
.headingLevel5--title-section-mobile-offert-cyber,
.headingLevel5--title-offer-gallery
{
    color: #777777;
    margin: 10px auto
}