/* .flexRowContent--container-tittle-product-summary {
    margin-left: 40px;
} */
.flexRow--container-items-product-summary :global(.vtex-flex-layout-0-x-flexColChild--contaier-image-product-summary){
    align-items: center;
    align-content: center;
    border-right: 2px solid #94929294;
    display: flex;
    margin-right: 10px;
    padding: 5px;
}
.flexRow--container-items-product-summary :global(.vtex-product-summary-2-x-image){
    width: 110px;
    height: 120px;
}
.flexRow--container-items-product-summary :global(.vtex-product-summary-2-x-element){
    display: flex !important;
    justify-content: center !important;
}
.flexRow--container-items-product-summary :global(.vtex-product-summary-2-x-brandName){
    text-transform: uppercase ;
    color: #777777;
}

.flexRow--container-items-product-summary :global(.vtex-product-summary-2-x-nameContainer){
    padding: 0px;
    text-align: initial;
}

.flexRow--container-items-product-summary :global(.vtex-add-to-cart-button-0-x-buttonText){
    text-transform: capitalize;
    font-size: 20px;
}

.flexRow--container-items-product-summary :global(.vtex-add-to-cart-button-0-x-buttonText)::after{
    content: url(assets/img/image-icon-add-to-cart.png);
    
}

.flexRow--container-items-product-summary :global(.vtex-flex-layout-0-x-flexColChild--container-items-product-summary){
    text-align: initial;
    
      
}

@media (max-width:780px){
    .flexRowContent--container-tittle-product-summary {
        margin: 0px auto;
    }
}


