.socialNetworksContainer {
  justify-content: space-around;
  padding-left: 50px;
}


@media (max-width:780px){
.socialNetworksContainer{
  padding-left: 50px;
  justify-content: center;
  
}
}


@media (max-width:425px){
  .socialNetworksContainer{

    justify-content: flex-start;
    padding: 0px;
    gap: 20px;
  }

}