.newsletterForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.confirmationCheckboxContainer{
    grid-column: 1/3;
    grid-row: 2/3;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__label){
    color: #5b5e63;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .00938em;
    line-height: 1.5;
   
}
.formSubmitContainer :global(.vtex-button){
    

    background-color: #5b5e63;
    border-radius: 6px;
    border: 1px solid #5b5e63;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-left: 20px;
    outline: none;
    padding: 15px;
    width: 60%;
    text-transform: capitalize;
}

.emailInputContainer :global(.vtex-input-prefix__group){
    background: #fff;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    color: #5a5a5a;
    font-size: 16px;

}

.labelLink--container-check-box-footer--first,
.labelLink--container-check-box-footer--second{
    border-bottom: 1px solid #5b5e63;
    color: #5b5e63;
    font-weight: 600;
    text-decoration: none;
}
