.flexCol--container-terms-and-conditions-general
  :global(.vtex-rich-text-0-x-paragraph),
.flexCol--container-terms-and-conditions-specific
  :global(.vtex-rich-text-0-x-paragraph) {
  color: #7d7d7d !important;
  line-height: 28px;
  font-size: 15px;
  text-align: justify;
}

.flexCol--container-terms-and-conditions-general
  :global(.vtex-rich-text-0-x-heading-level-1),
.flexCol--container-terms-and-conditions-specific
  :global(.vtex-rich-text-0-x-heading-level-1) {
  color: #7d7d7d;
  font-size: 2em;
  font-weight: bold !important;
}

.flexCol--container-terms-and-conditions-specific
  :global(.vtex-rich-text-0-x-heading-level-3) {
  color: #7d7d7d;
  font-size: 24px;
}

.flexCol--container-terms-and-conditions-specific
  :global(.vtex-rich-text-0-x-list) {
  color: #7d7d7d;
}

.flexCol--container-terms-and-conditions-specific
  :global(.vtex-rich-text-0-x-strong) {
  font-weight: 900 !important;
  font-size: 17px;
  text-decoration: dashed;
}

.flexCol--container-terms-and-conditions-specific {
  width: 80%;
  margin: 0px auto;
}

.flexCol--container-terms-and-conditions-specific
  :global(.vtex-rich-text-0-x-heading-level-2) {
  color: #7d7d7d;
  font-size: 1.7em;
  font-weight: bold !important;
}

.flexCol--container-image-policies-and-guarantees {
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
